/* Estilo para la pagina completa */
html{
  font-size: 100%;
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
    line-height: 1.6;
    padding: 1.3rem;
    background-image: url('/img/FondoPantalla.jpg');
    background-size: cover; 
    margin-top: 6rem;
}

/* Estilo para la barra de navegacion */
.navbar{
    position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;       
    z-index: 999;      
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    background: #350505;
}

/* Estilo para ajustar los botones de seccion */
.nav-links{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;   
}

/* Estilo para los botones dentro de la barra de navegacion */
.nav-links a {
  position: relative;
  display: inline-block;
  padding: 0rem 0.5rem;
  color: #fff;
  border: 0.2rem solid rgb(90, 9, 9);
  border-radius: 0.5rem;
  transition: color 0.3s ease;
}
/* animacion detras de los botones */
.nav-links a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgb(90, 9, 9);
  z-index: -1;
  transition: width 0.3s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links a:hover {
  box-shadow: 0 0 20px white;
  color: #5a4949;
}

.nav-links span:nth-child(n){
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  transition: all 0.6s ease;
}

.nav-links span:nth-child(1){
  right: 10%;
  top: -15%;
  background-color: #fff;
}
.nav-links span:nth-child(2){
  left: 10%;
  bottom: -6px;
}

.nav-links:hover span:nth-child(1){
  right: 80%;
  transform: rotate(90deg);
  background-color: #5a4949;
  color: #5a4949;;
}

.nav-links:hover span:nth-child(2){
  left: 80%;
  transform: rotate(90deg);
  color: #5a4949;;
}

/* Tamaño para mi logo */
.logo img{
    width: 25%;
}
/* Orden para la parte de mi foto con mi nombre */
.divPresentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

/* Estilo para mi nombre */
.divPresentacion h1{
    font-size: 2rem;
}

/* Estilo profesion*/
.divPresentacion p{
    font-size: 1rem;
    color: #ccc;
}

/* Estilo para mi presentacion */
.presentacion{
    text-align: center;
    margin-top: 5rem;
}

/* Estilo para mi foto de perfil */
.presentacion-img{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    object-fit: cover;
}

/* Estilo del resumen */
.resumen{
    max-width: 80rem;
    margin: 0 auto 4rem auto;
    text-align: center;
}

.proyectos{
  background-color: #200202;
  text-align: center;
  padding: 3rem 3rem;
}

.proyectos h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #444;
  display: inline-block;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.proyectosImg{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.proyectosImg img{
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  object-fit: cover;
}

.tarjeta{
  background:#301d1d;
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 1.5rem;
  text-align: center;
}

/* Estilo para la section conocimientos */
.conocimientos {
  background-color: #200202;
  padding: 10rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

/* Estilo para el titulo h2 de conocimiento */
.conocimientos h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #444;
  display: inline-block;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.conocimientos h3 {
  font-size: 2rem;
  margin-top: 4rem;
}
/* aplico zoom en los iconos */
.icono img:hover {
  transform: scale(1.1);
} 


.skills{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
}

.links-contactos{
  background: #200202;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  align-items: center;
}

footer h1{
  margin-top: 2rem;
  background: #200202;
  display: flex;
  justify-content: center;
}

.copyright{
  margin: 0.8rem;
  text-align: center;
}


/* Base de la barra */
.barra-nivel {
  width: 100px;
  height: 30px;
  border-radius: 999px;
  background: #1a1a1a;
  position: relative;
  overflow: hidden;
}

/* Parte iluminada que cambia según el nivel */
.barra-nivel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #dce3ff;
  border-radius: 999px;
  transition: width 0.3s ease;
}

/* Niveles visuales */
.nivel-1::before { width: 20%; }
.nivel-2::before { width: 40%; }
.nivel-3::before { width: 60%; }
.nivel-4::before { width: 80%; }
.nivel-5::before { width: 100%; }

/* Ocultar menú hamburguesa en pantallas grandes */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {

  .nav-links {
    align-items: center;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    z-index: 1000;
    cursor: pointer; 
    background: #200202;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    display: flex;
    font-size: 2rem;
    color: white;
  }

  .presentacion{
    padding-top: 5rem;
  }
  .conocimientos{
     flex-direction: column;
     align-items: center;
  }

  .proyectosImg{
    flex-direction: column;
  }

  .tarjeta{
    width: 100%;
  }

  .conocimientos {
  padding: 1.2rem;
  }

  .conocimientos p{
    text-align: center;
  }

  .conocimientos h3 {
    text-align: center;
  }
 
  .skills{
    flex-direction: column;
  }

  .links-contactos{
    flex-direction: column;
  }

}