/* Estilo para la barra de navegacion */
.navbar{
    background-color: gray;
    align-items: center;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

/* Estilo para ajustar los botones de seccion */
.nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    font-size: 1.5rem;
    
}

/* Estilo para los botones dentro de la barra de navegacion */
.nav-links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: rgba(40, 179, 144, 0.938);
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

/* Tamaño para mi logo */
.logo img{
    height: 4rem;
}

