@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

html{
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: "Tagesschrift", system-ui;
  color: white;
  line-height: 1.6;
  padding: 1.3rem;
  background-image: url('/img/fondo.jpg');
  background-size: cover; 
  margin-top: 1rem;
  overflow-x: hidden;
}

.navbar{
  position: fixed;   
  top: 0;            
  left: 0;           
  width: 100%;       
  z-index: 999;      
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  background: #96A78D;
}

.nav-links{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;   
}

.nav-links a {
  position: relative;
  display: inline-block;
  padding: 0rem 0.5rem;
  color: #fff;
  border: 0.2rem solid #57595B;
  border-radius: 0.5rem;
  transition: color 0.3s ease;
}

.nav-links a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #E8D1C5;
  z-index: -1;
  transition: width 0.3s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links a:hover {
  box-shadow: 0 0 20px #456882;
  color: #456882;
}

.nav-links span:nth-child(n){
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  transition: all 0.6s ease;
}

.nav-links span:nth-child(1){
  right: 10%;
  top: -15%;
  background-color: #E8D1C5;
}
.nav-links span:nth-child(2){
  left: 10%;
  bottom: -6px;
}

.nav-links a:hover span:nth-child(1){
  right: 80%;
  transform: rotate(90deg);
  background-color: #8FABD4;
  color: #8FABD4;
}

.nav-links a:hover span:nth-child(2){
  left: 80%;
  transform: rotate(90deg);
  color: #8FABD4;
}

.logo img{
  width: 25%;
}

.divPresentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.divPresentacion h1{
  font-size: 2rem;
}

.divPresentacion p{
  font-size: 1rem;
  color: #ccc;
}

.presentacion{
  text-align: center;
  margin-top: 5rem;
}

.presentacion-img{
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
}

.resumen{
  max-width: 80rem;
  margin: 0 auto 4rem auto;
  text-align: center;
}

.proyectos{
  background-color: #4F200D;
  text-align: center;
  padding: 3rem 3rem;
}

.proyectos h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #F87B1B;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.proyectosImg{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

.proyectosImg img{
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  object-fit: cover;
}

.tarjeta{
  background:#061E29;
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  text-align: center;
}

.conocimientos {
  background-color: #4F200D;
  padding: 10rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.conocimientos h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #F87B1B;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.conocimientos h3 {
  font-size: 2rem;
  margin-top: 4rem;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
}

.diplomados {
  background-color: #4F200D;
  padding: 10rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  gap: 1.2rem;
}

.diplomados h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #F87B1B;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.grid-diplomas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  margin-top: 10px;
}

.diploma-item {
  background: #061E29;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 8px 18px rgba(0,0,0,.25);
  text-align: center;
  transition: transform .18s, box-shadow .18s;
  max-width: 100%;
}

.diploma-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 26px rgba(0,0,0,.35);
}

.diploma-preview {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
  display: block;
}

.diploma-item span {
  font-size: .8rem;
  display: block;
  margin-top: 6px;
  color: #ddd;
}

.links-contactos{
  background: #4F200D;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  align-items: center;
}

.links-contactos a{
  color: aqua;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contacto-style a:hover {
  color: white;
}

footer h1{
  margin-top: 2rem;
  background: #4F200D;
  display: flex;
  justify-content: center;
  
}

.copyright{
  margin: 0.8rem;
  text-align: center;
}

.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nombre-skill {
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 2px;
  text-align: center;
}

.rating {
  --star-size: 1.2rem;
  --star-color: #2a2a2a;
  --star-filled: #ffd966;
  --percent: 0%;

  position: relative;
  display: inline-block;
  font-size: var(--star-size);
  line-height: 1;
}

/* ⭐ Estrellas vacías */
.rating::before {
  content: "★★★★★";
  letter-spacing: 0.1rem;
  color: var(--star-color);
}

/* ⭐ Estrellas llenas (clip por porcentaje) */
.rating::after {
  content: "★★★★★";
  letter-spacing: 0.1rem;
  color: var(--star-filled);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent);
  overflow: hidden;
  white-space: nowrap;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-links {
    align-items: center;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    z-index: 1000;
    cursor: pointer; 
    background: #96A78D;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    display: flex;
    font-size: 2rem;
    color: white;
  }

  .conocimientos{
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
  }
  
  .proyectos h2{
    font-size: 2rem;
  }

  .proyectosImg{
    flex-direction: column;
  }

  .tarjeta{
    width: 100%;
  }

  .conocimientos h2 {
    font-size: 2rem;
  }
  
  .skills{
    flex-direction: column;
  }

  .diplomados{
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
  }

  .diplomados h2 {
    font-size: 2rem;
  }

  .links-contactos{
    flex-direction: column;
  }

  .divPresentacion{
    flex-direction: column;
  }
}

.btn-cv {
  padding: 0.6rem 1rem;
  border: 2px solid #fff;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn-cv:hover {
  background: white;
  color: #000;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary h2 {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 12px;
  background: #111827;
  color: #fff;
  transition: .25s;
}

details[open] summary h2 {
  background: #1f2937;
  transform: translateY(2px);
}

